@using selahattin.Helper
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<title>@ViewBag.Title - Selahattin YİĞİT</title>

@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}

@Html.AntiForgeryToken()
<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">Selahattin Blog - Yazılım Geliştiriciler İçin Hazırlanan Bir Kişisel Blog</h2>
            <div class="intro">Bloğuma hoşgeldiniz. Abone olun ve en son blog yazılarımı gelen kutunuza alın.</div>

            @using (Html.BeginForm("abone", "Home", FormMethod.Post))
            {

                <div class="form-inline justify-content-center pt-3">
                    <div class="form-group signup-form ">
                        <label class="sr-only" for="semail">E-posta Adresiniz</label>
                        <input type="email" id="mail" name="mail" class="form-control mr-md-1 semail" placeholder="E-posta giriniz" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Abone ol</button>

                </div>


            }
        </div><!--//container-->
    </section>



    @foreach (var item in ViewBag.list)
    {
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="~/@item.image" alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="/Blog/@SeoHelper.ToSeoUrl(item.title)-@item.blogId">@item.title</a></h3>
                            <div class="meta mb-1"><span class="comment">@item.link</span></div>
                            <div class="intro">@Html.Raw(item.text.Substring(0, 300))</div>
                            <a class="more-link" href="/Blog/@SeoHelper.ToSeoUrl(item.title)-@item.blogId"> Daha Fazla &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->





            </div>
        </section>


    }


</div><!--//main-wrapper-->
